body{
    background-color: black;
    background-image: linear-gradient(rgb(58, 54, 54),black);
    color: aliceblue;
    background-repeat: no-repeat;

}
#image{
    border-radius: 100%;
    margin: 15px;
}
.name{
    margin: 10px;
}
#table{
    color: whitesmoke;
    margin: 0px;
}
.heading{
    margin: 30px;
    font-size: 25px; font-weight: bold;
}
#icon{
    padding-left:30px;
}
.display-4{
    color: blue;
}
